<a href="https://colab.research.google.com/github/MiguelSouzaAlmeida/PA_2025/blob/main/variaveiseoperadoresaritmeticos/variaveiseconstantes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Váriaveis e constantes

In [ ]:
idade = 15
altura = 1.80
nome = "Miguel Souza Almeida"
vai = True

In [ ]:
nomes = ["Miguel Souza Almeida","Mayara","Cintia"]
nomes2 = ("Miguel Souza Almeida","Mayara","Cintia")
tudo = {nome:"Miguel Souza Almeida",idade: 15, altura:1.80}

In [ ]:
print(nome)
print(nomes)
print(nomes2)
print(tudo)

Miguel Souza Almeida
['Miguel Souza Almeida', 'Mayara', 'Cintia']
('Miguel Souza Almeida', 'Mayara', 'Cintia')
{'Miguel Souza Almeida': 'Miguel Souza Almeida', 15: 15, 1.8: 1.8, True: True}

In [ ]:
print(type(idade))
print(type(altura))
print(type(vai))
print(type(nome))
print(type(nomes))
print(type(nomes2))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'list'>
<class 'tuple'>

In [ ]:
print("O nome dele é:", nome,", sua idade é: ", idade, ", ele tem ", altura," metros")

O nome dele é: Miguel Souza Almeida , sua idade é:  15 , ele tem  1.8  metros

In [ ]:
print(f"O nome dele é: {nome}, ele tem {idade} anos, a altura dele é {altura}")

O nome dele é: Miguel Souza Almeida, ele tem 15 anos, a altura dele é 1.8

# Área do Círculo

In [ ]:
PI = 3.14159
raio = float(input("Digite o valor do raio do círculo"))

Digite o valor do raio do círculo6

In [ ]:
areacir = PI * (raio**2)

In [ ]:
print(f"A área do círculo é {areacir}")

A área do círculo é 113.09724

# Área do  quadrado

In [1]:
lado = float(input("Digite o lado do quadrado"))

Digite o lado do quadrado 5

In [2]:
area  = lado ** 2
print(f"A área do quadrado é {area}")

A área do quadrado é 25.0