<a href="https://colab.research.google.com/github/MiguelSouzaAlmeida/PA_2025/blob/main/tuplas_dicionarios/exercicios_dicio_e_tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## dicionarios e tuplas

# Exercício 1: Manipulação de Listas

In [ ]:
lista = ['Mauá', 'Ribeirão Pires', 'Santo André', 'Guarulhos', 'São Bernado']
lista.append('São Caetano')
print(lista)
lista.remove("Ribeirão Pires")
print(lista)

#Exercício 2: Operações com Tuplas

In [ ]:
c1 = 'verde', 'dourado', 'amarelo', 'roxo'
novac1 = c1 + ("ciano", "azul")
print(novac1)

('verde', 'dourado', '', 'roxo', 'ciano', 'azul')

#Exercício 3: Dicionários Simples

In [ ]:
aluno = { "nome": "Cleildu",
          "idade": 22,
          "curso": "Mecânica de Usinagem"}

aluno['idade'] = 24
aluno['nota'] = 'MB'
print (aluno)

{'nome': 'Cleildu', 'idade': 24, 'curso': 'Mecânica de Usinagem', 'nota': 'MB'}

#Exercicio 4 listas e dicionario

In [1]:

carro = [
       { 'nome':  'Onix', 'preço': 20000 },
       { 'nome':  'Gol', 'preço': 17000 },
       {  'nome':  'Chevrolet camaro', 'preço': 555000 }]

carro.append({'nome':  'Nissan Skyline R34', 'preço': 1000000})
carro[0]["preço"] = 25000
print(carro)

[{'nome': 'Onix', 'preço': 25000}, {'nome': 'Gol', 'preço': 17000}, {'nome': 'Chevrolet camaro', 'preço': 555000}, {'nome': 'Nissan Skyline R34', 'preço': 1000000}]

##Exercício 5: Analisando uma Lista de Tuplas

- Crie uma lista de tuplas, onde cada tupla contém um par (nome, idade).
- Encontre e imprima o nome da pessoa mais velha.
- Encontre e imprima a idade midia das pessoas.

In [5]:
nomes = [('Matheus', 17), ('José', 23), ('João', 27), ('Andre',43)]
maisvelho = 0
nome = ' '
if nomes[0][1] > maisvelho:
  maisvelho = nomes[0][1]
  nome = nomes[0][0]
if nomes[1][1] >maisvelho:
  maisvelho = nomes[1][1]
  nome = nomes[1][1]
if nomes[2][1] > maisvelho:
  maisvelho = nomes[2][1]
  nome = nomes[2][0]
if nomes[3][1] > maisvelho:
  maisvelho = nomes[3][1]
  nome = nomes[3][0]
  print(f'o mais velho é {nome}, ele tem {maisvelho}')

media = ((nomes[0][1] + nomes[1][1] + nomes[2][1]  + nomes[3][1])/ 4)

print(f'a média é {media} anos')

o mais velho é Andre, ele tem 43
a média é 27.5 anos